@{
    ViewBag.Title = "CreatedSuccessfully";
}

<h2>發布結果</h2>

<span style="color:gray">
    STEP 1) 輸入資料 >
    STEP 2) 選擇標籤 >
    STEP 3) 選擇職業適配性格 >
    STEP 4) 確認資料 >
    <b style="color:black">
        STEP 5) 成功送出，等待回覆！
    </b>
</span>
<hr />

<div style="display:block; position:relative">
    <div class=" col-md-12 up_1" style="height:50px;position:absolute">
        <div class="col-md-4"
             style="display:table;
    background: #fed7c6;
    margin-right: 400px;
    margin-left: 380px;
    margin-top: 30px;
    margin-bottom:50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 5px;">

            <br />
            <h4><b><font color="#7cab98">系統提示</font></b></h4>
            <hr />                <br>
            <img src="~/Pictures/checked.png" style="float:right;width:100px;height:100px;margin-right:10px" />
            <h4><b><font color="#7cab98">發布結果為</font></b></h4>
            <h4><b><font color="#7cab98">成功</font></b></h4>
            <br>
        </div>
    </div>
</div>
