@{
    ViewBag.Title = "重設密碼";
}

<link href="~/Content/LOGIN.css" rel="stylesheet" />

<hgroup class="title">
    <h1>   </h1>
</hgroup>
<br>
<br>

@*<div class="row">
        <div class="col-md-12 aaa">
            <br>
            <br>
            <br>
            <br>
            <h4><b><font color="#7cab98">Please check your email to reset your password.</font></b></h4>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>*@

<div class=" container">
    <div class=" col-md-12 up_1">
    </div>

    <div class="row">
        <div class="col-md-12 forgotblock">
            <br>
            <h4><b><font color="#7cab98">系統提示</font></b></h4>
            <hr /><br>
            <h5><b><font color="#7cab98">信件已寄出</font></b></h5>
            <h5><b><font color="#7cab98">請確認信箱內重設密碼之信件</font></b></h5>
            <br>
            <br>
        </div>
    </div>





