@{
    ViewBag.Title = "Reset password confirmation";
}


<link href="~/Content/RESETPASSWORD.css" rel="stylesheet" />
<link href="~/Content/LOGIN.css" rel="stylesheet" />


<div class=" container">
    <div class=" col-md-12 up_1">
    </div>
    <div class="row">
        <div class="col-md-12 reset_block">
            <br>
            <h4><b><font color="#7cab98">系統提示</font></b></h4>
            <hr /><br<br>
            <h5><b><font color="#7cab98">密碼已重新設定</font></b></h5>
              @Html.ActionLink("請點擊此處重新登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            <br>
            <br>
        </div>
    </div>
</div>

