@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<link href="~/Content/LOGIN.css" rel="stylesheet" />

<h1 class="text-danger">  </h1>
<h2 class="text-danger">  </h2>


<div class=" container">
    <div class=" col-md-12 up_1">
    </div>
    <div class="row">
        <div class="col-md-12 error_block">
            <br>
            <h4><b><font color="#7cab98">系統提示</font></b></h4>
            <hr /><br<br><br><br> 
            <h5><b><font color="#7cab98">頁面無法顯示</font></b></h5>
            <h5><b><font color="#7cab98">請確認網址或是網路連線是否錯誤</font></b></h5>
            <h5><b><font color="#7cab98">請回到首頁重新操作</font></b></h5>
            <br>
            <br>
        </div>
    </div>
</div>
