body {
    background-color: #f3f3f3;
    font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}


.reset_1 {
    background-color: #fed7c6;
    display: table;
    width: 400px;
    height: 450px;
    margin-left: 400px;
    border-radius: 5px;
}


.up_1 {
    height: 50px;
}

.reset_inside_1 {
    color: #7cab98;
    display: table;
    width: 320px;
    height: 30px;
    margin-left: 50px;
    float: none;
}

.form-group {
    color: #7cab98;
}

.reset_inside_2 {
    width: 350px;
    margin-left: 50px;
}

.btn-default {
    background-color: #f3f3f3;
    color: #7cab98;
    font-size: medium;
    font-weight: 700;
}

.reset_block {
    display: table;
    width: 330px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background: #fed7c6;
    vertical-align: middle;
    float: none;
    border-radius: 5px;
}