body {
    background-color: #f3f3f3;
    font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.loginblock {
    display: inline-block;
    width: 350px;
    height: 410px;
    margin-right: auto;
    margin-left: auto;
    background: #fed7c6;
    vertical-align: middle;
    float: none;
    border-radius: 5px;
}


.forgotblock {
    display: table;
    width: 330px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background: #fed7c6;
    vertical-align: middle;
    float: none;
    border-radius: 5px;
}



.up_1 {
    height: 50px;
}

.email_block {
    display: inline-block;
    width: 500px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    float: none;
}

.passwprd_block {
    display: inline-block;
    width: 500px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    float: none;
}

.form-control {
    display: inline-block;
    width: 500px;
    height: 30px;
    margin-right: auto;
    margin-left: 20px;
    vertical-align: middle;
    float: none;
}


.form-group {
    color: white;
}

.form-group_re {
    width: 500px;
    height: 40px;
    color: white;
    margin-left: 120px;
}

.form-group_re1 {
    width: 500px;
    height: 40px;
    color: white;
    margin-left: 120px;
}



label {
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
}



input[type=checkbox] {
    display: inline-block;
    background-color: #aaa;
    padding: 3px 6px;
    border: 1px solid gray;
    color: #444;
    user-select: none;
}


.color1 {
    color: white;
}

a.my-class {
    color: white;
}


.form-group_1 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: #7cab98
}

.form-control_1 {
    display: table;
    width: 1200px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    float: none;
}


.register_block {
    display: table;
    width: 1200px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    float: none;
}

.birth {
    margin-left: 110px;
}

.column {
    background-color: #7cab98;
    display: table;
    width: 450px;
    height: 1450px;
    margin-left: 280px;
    border-radius: 5px;
}



.register_inside_1 {
    display: table;
    width: 500px;
    height: 30px;
    margin-left: 20px;
    float: none;
}

.register_inside_2 {
    width: 400px;
    height: 400px;
}

.register_inside_3 {
    width: 450px;
    margin-right: auto;
    margin-left: 40px;
}

.btn-default {
    background-color: #f3f3f3;
    color: #7cab98;
    font-size:medium;
    font-weight:700;
}


